@import "tailwindcss";

:root {
  --background: #313D49;
  --foreground: #FFFFFF;
}

@theme {
  --color-primary: rgb(255 255 255);
  --color-secondary: rgb(57, 64, 73);
  --color-ternary: rgb(91, 95, 100);
  --color-support1: rgb(108, 111, 117);
  --color-support2: rgb(245, 245, 245);
  --color-support3: rgb(231, 231, 231);
  --color-support4: rgb(203, 212, 223);
}

@layer base {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  sm {
    font-size: 10px;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
  }
}